.logincss{
  height: 94vh;
  min-height: 94vh;
  display: flex;
  align-items: center !important;
  flex-direction: row !important;
}

.form-control{
  width:95%;
}

Card{
  position: absolute;
  right: 600px;
}