


.logincss{
  height: 94vh;
  min-height: 94vh;
  display: flex;
  align-items: center !important;
  flex-direction: row !important;
}

/* .form-control{
  width:80%;
  float: right;
} */


.card-body {
  background-color: #fff;
  position: relative;
  left:400px;
  height: 400px;
  width: 500px;
  border: 2px solid rgb(18, 26, 23);
}

/* .cardTrans{
  min-width: 98%;
  margin: 12px;
  margin-top:25px;
}

.label{
  font-size: larger;
  font-style: italic;
  float: left;
  margin: 20px;
}


.label_Password{
  font-size: larger;
  font-style: italic;
  float: left;
  margin: 20px;
} */