*{
  box-sizing: border-box;
}

body{
  font-family: Tahoma,Verdana,Segoe,sans-serif; 
  font-size: 14px;
  background: #f6fffd;
  padding: 20px;
  text-align: center;
}

.logincss{
  height: 94vh;
  min-height: 94vh;
  display: flex;
  align-items: center !important;
  flex-direction: row !important;
}

.form-control{
  width:95%;
}


.card-body {
  background-color: #fff;
  position: relative;
  left:500px;
  height: 350px;
  width: 300px;
}

.cardTrans{
  min-width: 98%;
  margin: 12px;
  margin-top:25px;
}