*,
*::before,
*::after{
  box-sizing: border-box;
  background-color:lightblue;
}
body{
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}
.bg-primary {
  background-color: #083650 !important;
}
.login-board {
  opacity: 30%;
}
.primary {
  background-color: #198615 !important;
}

.label{
  position: absolute;
  float: left;
  font-size: 20px;
  margin-top: 22px;
  padding-right: 20px;
}
Button{
  position: absolute;
  margin-top: 100px;
}
.card-header {
  background-color: #a7acaa;
  font-size: 30px;
  padding: 10px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 30px;
}
.card-body{
  background-color: white;
  padding: 2em;
  padding-bottom: 3em;
  border-radius: 8px;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 10px 40px -14px rgba(0,0,0,0.25);
}
.Container {
  display: flex;
  -webkit-display: box;
  -moz-display: box;
  -ms-display: flexbox;
  -webkit-display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 6%;
  margin: 0;
}

/* .lastLogin {
  font-size: 12.5px;
  color: grey;
  padding-top: 15px;
} */
/* .logincss {
  height: 94vh;
  min-height: 94vh;
  display: flex;
  align-items: center !important;
  flex-direction: row !important;
} */

/* .logout {
  text-align: center;
  margin-top: 200px;
} */

.form-control {
  width: 60%;
  float: right;
  height: 24px;
  border: 2px solid cadetblue;
  border-radius: 6px;
  margin: 24px;
}

.errorMsg {
  color: red;
  font-weight: normal;
  margin-right:100px;
  float: right;

}

.Loader {
  height: 100%;
  width: 0;
  position: fixed;
 /* Stay in place */
  z-index: 10;
 /* Sit on top */
  left: 0;
  top: 0;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
 /* Black fallback color */
 /* Black w/opacity */
  overflow-x: hidden;
 /* Disable horizontal scroll */
  transition: 0.5s;
}
.Select-input {
  position: absolute !important;
  width: 99%;
}
